<div class="row">
      <div class="span12">
        <h2>Logic Games - Official Questions</h2><br />
        <ul class="media-grid">

       <li>
          <a href="/coming_soon" rel="facebox" style="background:#F5F5F5;">
            <%= image_tag("Chess_pawn5.png")%>
          </a>
        </li>

        <li>
          <a href="/coming_soon" rel="facebox" style="background:#F5F5F5;">
            <%= image_tag("Chess_bishop5.png")%>
          </a>
        </li>
        <li>
          <a href="/coming_soon" rel="facebox" style="background:#F5F5F5;">
            <%= image_tag("Chess_king5.png")%>
          </a>
        </li>

   </ul>
</div>
</div>
