<div class="row">
      <div class="span12">
        <h2>Choose LSAT section</h2><br />
        <ul class="media-grid">

       <li>
          <a href="/logical_reasoning" style="background:#F5F5F5;">
            <%= image_tag("logic_games.png")%>
          </a>
        </li>

        <li>
          <a href="/reading_comprehension" style="background:#F5F5F5;">
            <%= image_tag("logical_reasoning.png")%>
          </a>
        </li>
        <li>
          <a href="/logic_games" style="background:#F5F5F5;">
            <%= image_tag("reading_comprehension.png")%>
          </a>
        </li>

   </ul>
</div>
</div>
