
<div class="puzzle_panel">
    <div id ="score_right_timer"><strong></strong><p></p></div>
    <div id ="score_right"><strong>Your Answer:  </strong></div>
    <div class="fuckyou"><div class="boxgrid slideright"><div class="cover boxcaption"style="background:#2F2F2F;">hint</div><p></p></div></div>
</div>
