<body>
<div id="lightbox">

Terms and Conditions<br /><br />

Prepcloud Test Preparation (hereafter referred to as "Prepcloud") makes no warranties or representations as to the performance or merchant ability of the products or services referred to on this web site. Prepcloud is not liable for any damage to hardware or software by anyone accessing this web site, or for loss of business or profits, or for any consequential damages made by any party using the information on this web site for any cause whatsoever, regardless of the form of action.<br /><br />

Use of Prepcloud’s Services<br /><br />

Prepcloud grants you a terminable, non-exclusive, non-transferable license to use Prepcloud’s services solely for your personal, noncommercial, noncompetitive use in accordance with the following terms and conditions. Any such terms and conditions included in this site or on the domain www.prepcloud.com shall be deemed to be a part of this User Agreement and are hereby incorporated into this User Agreement by reference.<br /><br />

Account Security<br /><br />

Upon registering for the Prepcloud Service you are accessing, you will have received a username and password.  You are responsible for protecting the confidentiality of your password and account identifier, and are fully responsible for all activities that occur under your username and password. You agree (a) to immediately notify Prepcloud of any loss, compromise or unauthorized use of your password or username or any other breach of security, and (b) to exit from your account when you conclude each session. You may notify Prepcloud by sending an email to security@prepcloud.com or by phoning our Account Administrator at 305-971-6606<br /><br />

Privacy Policy<br /><br />

By registering for or using the Prepcloud Service you acknowledge that you have read and accept the Prepcloud Privacy Policy. Before registering for or using the Prepcloud Service, please carefully read the Prepcloud Privacy Policy. You may access the Privacy Policy by clicking here.<br /><br />

Copyright Notification<br /><br />

The computer software, artwork and other components included in  Prepcloud’s services are the copyrighted property of Prepcloud and its licensors. Prepcloud’s Services are licensed (not sold) to you, and Prepcloud owns all copyright, trade secret, patent and other proprietary rights in Prepcloud’s Services. You may not: (a) copy, distribute, rent, loan, lease or sublicense all or any portion of Prepcloud’s services; (b) modify, translate, distribute or prepare derivative works of the Prepcloud Service or the accompanying documentation; (c) reverse engineer, decompile or disassemble the Prepcloud Service or the accompanying documentation; or (d) remove any proprietary notices, labels, or marks on the Prepcloud Service and accompanying documentation. You may not transfer the Prepcloud Service. Your license is automatically terminated if you transfer the Prepcloud Service. THIS LICENSE IS NOT A SALE. TITLE AND COPYRIGHTS TO THE Prepcloud Service AND ANY ACCOMPANYING DOCUMENTATION REMAIN WITH PREPCLOUD OR ITS LICENSORS, AS THE CASE MAY BE.
You further acknowledge and agree that Prepcloud has no obligation to preview, screen or monitor any content that may be added Prepcloud Service by other users, whether publicly posted or privately transmitted through the Prepcloud Service. Prepcloud does not guarantee the accuracy, integrity, quality or appropriateness of any such user posted content. Under no circumstances will Prepcloud be liable in any way for any user posted content, including, but not limited to, for any errors or omissions in any user posted content, or for any loss or damage of any kind incurred as a result of the use of any user posted content accessed, posted or otherwise transmitted via Prepcloud’s services. By using Prepcloud’s services, you agree that it is solely your responsibility to evaluate the accuracy, completeness, usefulness or appropriateness of any user posted content that you access, post, or otherwise transmit through Prepcloud’s services, including user posted content that may be offensive, indecent or objectionable. Prepcloud has the right to suspend, restrict or terminate your use of our services and to refuse any future use of  Prepcloud’s Services (or any portion of Prepcloud’s services) if Prepcloud has reason to believe that you are responsible for user posted content that Prepcloud deems inappropriate.<br /><br />

LSAC Copyright<br /><br />

All actual LSAT questions printed within Prepcloud’s services are used with the permission of Law School Admission Council, Inc., Box 2000, Newtown, PA 18940, the copyright owner.  LSAC does not review or endorse specific test preparation materials or services, and inclusion of licensed LSAT questions within this work does not imply the review or endorsement of LSAC.<br /><br />

Links to Third Parties<br /><br />

Prepcloud provides links to third party web sites for use by interested parties. Prepcloud is in no way affiliated with these third parties and makes no representations regarding these sites or use of products or services from these sites. We do not endorse any product or service or its appropriateness. We have not confirmed the accuracy or reliability of any of the information contained on any third party's site.<br /><br />

Prepcloud makes no warranties or representations regarding the information provided by third parties or to the performance or the merchant ability of the products or services referred to on third party sites. We do not make any representations or warranties as to the privacy or security of any information, including credit card information, you may be requested to give to a third party.<br /><br />

Revision of Terms of Use<br /><br />

Prepcloud may at any time revise these Terms of Use by updating this posting. By using this website, you agree to be bound by any such revisions and should therefore periodically visit this page to determine the then current Terms of Use to which you are bound.<br /><br />

Registration Policy<br /><br />

All users must register, and pay the full price prior to initiating a tutoring session or accessing paid content. Payment is through PayPal although other payment options may arise in the future.<br /><br />

Amendment of User agreement<br /><br />

Prepcloud may amend or modify this User Agreement in whole or in part from time to time, without notice, by posting an amended User Agreement on the Site or any linked information. Such updated version of the User Agreement will be effective at the time we post it.<br /><br />
 
Session Cancellation Policy<br /><br />

Prepcloud reserves the right to cancel a tutoring session without prior notice, although every effort will be made to notify students as soon as possible. In the event that a session is canceled, students may choose to sign up for the next available session or receive a full refund.<br /><br />

Please direct questions or concerns regarding terms of use to Prepcloud at admin@Prepcloudprep.com

</div>
</body> 
