<table>
<tr>

            
            
                <td>
                <li class="plan mostPopular">
                    
                    <div class="planMid">
                        <p class="planTitle">dollar<strong class="cap">Quizzes</strong></p>
                        <p class="planPrice">$1</p>
                        <ul class="planOptions">
                            <li class="yes">All three LSAT sections</li>
                            <li class="yes alt">Official LSAT questions only</li>
                            <li class="no">Instant feedback</li>                   
                            <li class="no alt">Right answers explained</li>                   
                            <li class="no">Wrong answers explained</li>                   
                            <li class="no alt">Results saved in the cloud</li>                   
                        </ul>
                    </div>
                    <div class="planBot"><a href="/official_questions" title="register">Go To Page</a></div>
                </li>
                                </td>
                
                
                
                                <td>
                <!-- ======start plan====== -->
                <li class="plan mostPopular">
                   
                    <div class="planMid">
                        <p class="planTitle">full<strong class="cap">Tests</strong></p>
                        <p class="planPrice">$10</p>
                        <ul class="planOptions">
                            <li class="yes">All three LSAT sections</li>
                            <li class="yes alt">Official LSAT questions only</li>
                            <li class="yes">Instant feedback</li>                   
                            <li class="no alt">Right answers explained</li>                   
                            <li class="no">Wrong answers explained</li>                   
                            <li class="no alt">Results saved in the cloud</li>                   
                        </ul>
                    </div>
                    <div class="planBot"><a href="/coming_soon" rel="facebox" title="register">Go To Page</a></div>
                </li>
                <!-- ======end plan-====== -->
                                </td>
                
                
                                <td>
                <!-- ======start plan====== -->
                <li class="plan mostPopular">
                    
                    <div class="planMid">
                        <p class="planTitle"><strong class="cap">Tutoring</strong></p>
                        <p class="planPrice">$70</p>
                        <ul class="planOptions">
                            <li class="yes">All tutors scored a 170+</li>
                            <li class="yes alt">At home with phone or chat</li>
                            <li class="yes">One-on-one</li>                   
                            <li class="yes alt">Pay by the hour</li>                   
                            <li class="yes">No forced packages</li>                   
                            <li class="yes alt">No unnecessary materials</li>                   
                        </ul>
                    </div>
                    <div class="planBot"><a href="tutoring" title="register">Go To Page</a></div>
                </li>
                <!-- ======end plan-====== -->
                                </td>
                
                
                
               

            
            
        <br class="clearfloat" />   
        </tr>
</table>
            


   



