<body>
<div id="lightbox">
Privacy Policy<br /><br />

prepcloud test preparation (hereafter referred to as "prepcloud") does not collect personally identifying information about individuals, except when specifically and knowingly provided by such individuals.

Prepcloud will never share personally identifiable information, usernames, passwords, emails, tutoring information, assessment results, or any meta-data concerning assessment results with anyone outside of the prepcloud organization.
 
For each visitor to www.prepcloud.com, our web servers automatically collect information about which pages are visited by visitors.  This information is used for internal review, to tailor information to individual visitors and for traffic audits. This information (as well as information from third-party market researchers) might be used on an aggregated, anonymous basis by our advertisers.<br /><br />

prepcloud may send you emails regarding your tutoring sessions or assessments.  Prepcloud will never send you emails regarding prepcloud's new products or promotions unless you explicitly sign up for prepcloud’s newsletter.  We do not control the privacy policies of our advertisers, sponsors or other sites to which we provide hyperlinks.<br /><br />

All Users are provided a unique username and password that enable access to our services. We may track the use of those usernames and passwords in order to collect and maintain records of individual transactions conducted through our services by registered users, and those records may be associated with each registered user’s individual account profile within the prepcloud. We also collect and maintain records of information that you voluntarily provide to us. For example, if you sign up for the prepcloud newsletter, and may ask you to provide personally identifiable information, such as age, gender or other demographic data. However, unless such information is necessary for our services or required by the Terms and Conditions, we do not require you to provide such information to us. By providing such information voluntarily, you give prepcloud permission to use and disclose such information as described in this policy. We collect additional information through prepcloud.com and our services that are not associated with any online account or registration information, and that cannot be used to personally identify you.  This non-personal data ordinarily includes aggregate, summary, or other anonymous data, and may include, by way of example, statistics regarding popularity of particular pages within the Site, or information regarding types of Internet browsers used by Registered Users. We also collect non-personal data about each Registered User’s IP address to help optimize our server, and to better administer our Site, but such IP addresses are not associated with individual account profiles or registration information.<br /><br /> 

Prepcloud uses “cookies” which are small files placed on a user’s computer by a Web site in order to facilitate use of that Web site. For example, a cookie may contain information about a user’s preferences, so that the Web site automatically complies with those preferences whenever the user visits that Web site. When using prepcloud, we may create “cookies” on your computer for purposes of facilitating and maintaining your current user session.<br /><br />


Please direct questions and/or concerns about this policy to prepcloud at admin@prepcloud.com.<br /><br />
 



</div>
</body> 




 
