<div class="middle">
<%= render 'devise/shared/left_column' %>
<div class="con_cen">
<div class="choices">

<p>Checkout cancelled.  Return to the quiz selection page <%= link_to "here.", argsreadinggames_path %></p>

</div>
</div> 
<%= render 'devise/shared/score_feed' %>
</div>
