<table>
<tr>
<td id = 'steps_table1'>Step 1<br /><br />Choose Date</td>
<td id = 'steps_table2'>Step 2<br /><br />Choose Hour</td>
<td id = 'steps_table3'>Step 3<br /><br />Confirm Time</td>
<td id = 'steps_table4'>Step 4<br /><br />Pay with PayPal</td>
<td id = 'steps_table5' style = 'background:#00FFCC;'>Step 5<br /><br />Confirmation</td>
</tr>
</table><br />

<h4>Thank you for your purchase.</h4><br />
<h5>A tutoring credit has been added to your account.</h5><br />
<h5>A confirmation email has been sent.</h5><br />
<h5>Your tutor will contact you before your scheduled date through the email listed on your account.</h5><br />


