<div class="middle">
<%= render 'devise/shared/left_column' %>
<div class="con_cen">
<div class="choices">

<h5>Thank you for your purchase.</h5><br />
<p>A quiz credit has been added to your account.<br />
Select a quiz <%= link_to "here.", quiz_cenLR_path %></p>

</div>
</div> 
<%= render 'devise/shared/score_feed' %>
</div>
