<div class="middle">
<%= render 'devise/shared/left_column' %>
<div class="con_cen">
<div class="choices">

<h3>Error</h3><br />
<p>Unfortunately an error occurred: <%= @message %></p>

</div>
</div> 
<%= render 'devise/shared/score_feed' %>
</div>
