<div class="middle">
<%= render 'devise/shared/left_column' %>
<div class="con_cen">
<div class="choices">

<h5>Logical Reasoning - Medium</h5><br />
<p>Continue with PayPal to purchase a ten-question Logical Reasoning quiz for $1</p><br />

<p>
<%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), :action => 'checkout_quiz_LR' %><br /><br />
<%= render 'devise/shared/payment_message' %>
</p>

</div>
</div> 
<%= render 'devise/shared/score_feed' %>
</div>
