<table>
<tr>
<td id = 'steps_table1'>Step 1<br /><br />Choose Date</td>
<td id = 'steps_table2'>Step 2<br /><br />Choose Hour</td>
<td id = 'steps_table3'>Step 3<br /><br />Confirm Time</td>
<td id = 'steps_table4' style = 'background:#00FFCC;'>Step 4<br /><br />Pay with PayPal</td>
<td id = 'steps_table5'>Step 5<br /><br />Confirmation</td>
</tr>
</table><br />

<h4>Continue with PayPal to book your appointment</h4>
<br />
<p>
<%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), :action => 'checkout_tutoring' %><br /><br />
</p>
<div style = 'background:#00FFCC;'>After confirmation, an email with your receipt and appointment details will be sent.  Shortly before your appointment, you will receive an email asking you to fill out a survey so that your tutor may prepare especially for your needs.</div>

