
<div id="form" style="display:none;">
                    
  <div class="schedule_verify">
   
  <div class="schedule_verify2">
    <p>Please ensure that the date and hour are correct.  Upon hitting confirm, you will be redirected to Paypal.</p><br />             
    
    date<br />
    <input id="schedules_date" name="schedules[date]"  type="text" />
    <label for="schedules_date">date</label> <br /><br /><br /><br />                  
    hour<br />                  
    <input id="schedules_hour" name="schedules[hour]"  type="text" />
    <label for="schedules_hour">hour</label><br /><br /><br /><br />
    
    Choose your tutoring preference<br />
    
    <input type="radio" name="schedules[type]" value="online"> Online<br />
    <input type="radio" name="schedules[type]" value="phone"> By phone<br />
    <input type="radio" name="schedules[type]" value="home"> At home
    <hr>   
                        
    <input type="hidden" name="pageNo" id="pageNo" value="1">
    
    <div class="actions">
    <input type="submit" name="btn" value="Submit" id="subData" style="display:none;">
    </div>



</div>
</div>
</div>
  
  
