<div class="row">
      <div class="span12">
        <h2>Three ways to get help.  Check <%= link_to 'pricing', pricing_path %></h2><br />
        <ul class="media-grid">

       <li>
          <a href="/official_questions" style="background:#F5F5F5;">
            <%= image_tag("official_questions.png")%>
          </a>
        </li>

        <li>
          <a href="/tutoring/byphone" style="background:#F5F5F5;">
            <%= image_tag("byphone.png")%>
          </a>
        </li>
        <li>
          <a href="/tutoring/oneonone" style="background:#F5F5F5;">
            <%= image_tag("oneonone.png")%>
          </a>
        </li>

   </ul>
</div>
</div>
