
<div class="tutorial_frame">
<h1>Tutorial</h1><br /><br />
<h2>Contrapositives on the LSAT and other popular tests</h2><br />

<p>Example 1) Let's start with a simple example.  Click on the words in the conditional statement on the left to see its logic notation on the right.</p>
<div id="tutorial_left1"><p onmouseover="this.style.cursor='pointer'">
<a onclick="tutorialClick(1)">If Mike goes,</a> <a onclick="tutorialClick(2)" style="color:#27461F">then</a> <a onclick="tutorialClick(3)" style="color:purple">Josh goes</a>
</p></div>
<div id="tutorial_right1"><p></p><h6></h6><h7></h7></div>
<div class="tutorial_space"></div>

<p>Example 2)...Here we have flipped both sides of the conditional statement from the last example.  Note that example 1 and example 2 are NOT equivalent.</p>
<div id="tutorial_left2"><p onmouseover="this.style.cursor='pointer'">
<a onclick="tutorialClick(4)">If Josh goes,</a> <a onclick="tutorialClick(5)" style="color:#27461F">then</a> <a onclick="tutorialClick(6)" style="color:purple">Mike goes</a>
</p></div>
<div id="tutorial_right2"><p></p><h6></h6><h7></h7></div>
<div class="tutorial_space"></div>

<p>Example 3) The two statements in this example are also not the same.</p>
<div id="tutorial_left3"><p onmouseover="this.style.cursor='pointer'">
<a onclick="tutorialClick(7)" style="font-size:.9em;">If M goes,</a> <a onclick="tutorialClick(8)" style="font-size:.9em;color:#27461f">then</a> <a onclick="tutorialClick(9)"style="font-size:.9em;color:purple;">J goes</a><br /><br />
<a onclick="tutorialClick(10)"style="font-size:.9em;">If M doesn't go,</a> <a onclick="tutorialClick(11)"style="font-size:.9em;color:#27461f">then</a> <a onclick="tutorialClick(12)"style="font-size:.9em;color:purple">J doesn't go</a>
</p></div>
<div id="tutorial_right3"><p></p><h6></h6><h7></h7></div>
<div class="tutorial_space"></div>

<p>Example 4) However, the two statements in this example ARE equivalent.</p>
<div id="tutorial_left4"><p onmouseover="this.style.cursor='pointer'">
<a onclick="tutorialClick(13)" style="font-size:.9em;">If M goes,</a> <a onclick="tutorialClick(14)" style="font-size:.9em;color:#27461f">then</a> <a onclick="tutorialClick(15)"style="font-size:.9em;color:purple;">J goes</a><br /><br />
<a onclick="tutorialClick(16)"style="font-size:.9em;">If J doesn't go,</a> <a onclick="tutorialClick(17)"style="font-size:.9em;color:#27461f">then</a> <a onclick="tutorialClick(18)"style="font-size:.9em;color:purple">M doesn't go</a>
</p></div>
<div id="tutorial_right4"><p></p><h6></h6><h7></h7></div>
<div class="tutorial_space"></div>

<p>Example 5)  This example is like the example above except it is easier to see that the two statements are equivalent because it is intuitive.  We know from experience that 'Florida' is a part of the 'US'.</p>
<div id="tutorial_left5"><p onmouseover="this.style.cursor='pointer'">
<a onclick="tutorialClick(19)" >If I live in Florida,</a><br /> <a onclick="tutorialClick(20)" style="color:#27461f">then</a> <a onclick="tutorialClick(21)"style="color:purple;">I live in the U.S.</a><br /><br />
<a onclick="tutorialClick(22)">If I don't live in the U.S.,</a><br /> <a onclick="tutorialClick(23)"style="color:#27461f">then</a> <a onclick="tutorialClick(24)"style="color:purple">I don't live in Florida.</a>
</p></div>
<div id="tutorial_right5"><p></p><h6></h6><h7></h7></div>
<div class="tutorial_space"></div>

<div id="tutorial_break">By reversing whatever is on the left of 'then' with whatever is on the right of 'then' and drawing a line through both sides, you have created a <h9>contrapositive</h9>.<br /><br />  Creating a contrapositive is the only way to make 'if...then' statements equivalent.<br /><br />  The contrapositive is the most important logical concept to learn for the LSAT because it can be found all over the test and is unintuitive for most people.</div>
<div class="tutorial_space"></div>

<p>Example 6)  This example is more complicated but the idea of flipping-and-negating is the same.  Here, though, it's important to note that 'and' becomes 'or' on one side and 'or' becomes 'and' on the other side.</p>
<div id="tutorial_left6"><p onmouseover="this.style.cursor='pointer'">
<a onclick="tutorialClick(25)" >If Mike or Josh go,</a><br /> <a onclick="tutorialClick(26)" style="color:#27461f">then</a> <a onclick="tutorialClick(27)"style="color:purple;">Kate and Ashley go.</a><br /><br />
<a onclick="tutorialClick(28)">If Kate or Ashley don't go,</a><br /> <a onclick="tutorialClick(29)"style="color:#27461f">then</a> <a onclick="tutorialClick(30)"style="color:purple">Mike or Josh don't go.</a>
</p></div>
<div id="tutorial_right6" style="font-size:1.0em;"><p></p><h6></h6><h7></h7></div>
<div class="tutorial_space"></div>

<p>Example 7)  It's also important to keep the arrow going only one way unless you substitute 'then' with 'if and only if' like in this example.</p>
<div id="tutorial_left7"><p onmouseover="this.style.cursor='pointer'">
<a onclick="tutorialClick(31)">M goes,</a> <a onclick="tutorialClick(32)" style="color:#27461F">if and only if</a> <a onclick="tutorialClick(33)" style="color:purple">J goes</a>
</p></div>
<div id="tutorial_right7"><p></p><h6></h6><h7></h7></div>
<div class="tutorial_space"></div>

<p>Example 8)  This just shows the notation for keeping things in their correct order.</p>
<div id="tutorial_left8"><p onmouseover="this.style.cursor='pointer'">
<a onclick="tutorialClick(34)">if M goes before J,</a><br /> <a onclick="tutorialClick(35)" style="color:#27461F">then</a> <a onclick="tutorialClick(36)" style="color:purple">K goes before A</a>
</p></div>
<div id="tutorial_right8"style="font-size:1.3em;"><p></p><h6></h6><h7></h7></div>
<div class="tutorial_space"></div>

<p>Example 9)  All together now...</p>
<div id="tutorial_left9"style="height:210px;"><p onmouseover="this.style.cursor='pointer'">
<a onclick="tutorialClick(37)" style="font-size:.8em;">If M goes before J or I live in Florida,</a><br /><a onclick="tutorialClick(38)" style="font-size:.8em;color:#27461f;">then</a><br /><a onclick="tutorialClick(39)"style="font-size:.8em;color:purple;">Kate goes before A and I live in the U.S.</a><br /><br />
<a onclick="tutorialClick(40)"style="font-size:.8em;">If K doesn't go before A or I don't live in the U.S.,</a><br /><a onclick="tutorialClick(41)"style="font-size:.8em;color:#27461f;">then</a><br /><a onclick="tutorialClick(42)"style="font-size:.8em;color:purple">M doesn't go before J and I don't live in Florida.</a>
</p></div>
<div id="tutorial_right9"style="height:210px;font-size:1.0em;"><p></p><h6></h6><h7></h7></div>
<div class="tutorial_space"></div>

<div id="tutorial_break">In the final example above the top and bottom statements are equivalent.<br /><br />  We simply reversed both sides of the 'then' connector and negated both sides by crossing them out.<br /><br />  Finally, we changed the 'or' to 'and' and the 'and' to 'or' to finish our <h9>contrapositive</h9>.<br /><br /> Ready for the puzzles?  <a><%= link_to 'click here', root_path %>.</div>


</div>
<script type="text/javascript" src="javascripts/controllers/tutorial.min.js"></script>
